@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.btn{
    max-width: 180px;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 32px;
}

header{
    background-color: rgba(255, 144, 14, 0.1);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 70px;
}

nav h3{
    font-size: 2rem;
    font-weight: bold;
    color: #131313;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
nav ul a{
   text-decoration: none;
   color: #424242;
   font-size: 1.1rem;
}

#banner
{
    text-align: center;
    max-width: 1440px;
    margin: 0px auto;
    
}

.banner-title{
    max-width: 860px;
    margin: 0px auto;
}

#banner h2{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
}
#banner p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    padding-top: 10px;
}
#banner img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 45px;
}
#features-section{
    max-width: 1400px;
    margin:85px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-text{
    margin-left: 73px;
    max-width: 537px;
}
.features-text h2{
    font-size: 2.7rem;
    color: #727272;
    font-weight: 500;
}
.features-text p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    padding-top: 24px;
}
.bold-style{
    font-weight: bold;
    color: #131313;
}
.features-color{
    font-weight: bold;
    color:#FF900E;
}
#love-enjoy{
    display: flex;
    max-width: 1440px;
    margin: 0px auto;
    justify-content: space-between;   
}
#love-enjoy img {
    width: 100%;
}


.text-container {
    width:586px;

}
.text-container h2{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
    margin-top: 40px;
}
.text-container p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-bottom: 10px;
}
.card{
    width: 586px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px 36px;
    margin-top: 20px;
    border-radius: 8px;
}
.card h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}
.card p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
}

.experience-button{
    padding: 46px 42px;
    background-color: #FF900E;
    width: 342px;
    text-align: center;
    border-radius: 8px;
    color: #ffffff;
    margin-left: -92px;
    margin-top: -77px;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
}
.experience-title{
    font-size:4rem ;
    font-weight: bold;
    line-height: 70px;
}

#factor-section{
    max-width: 1440px;
    margin: 130px auto;
    
}
#factor-section h3{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    padding-bottom: 24px;   
}
.p-style{
    font-size: 1rem;
   line-height: 26px;
    color: #727272;
    padding-bottom: 100px;
}

.fact-cards{
    display: grid;  
    grid-template-columns: repeat(4,1fr);  
    text-align: center;
    gap:124px;
    margin-bottom: 100px;
}
.fact-card{
    border: 1px solid #FF900E;
    padding: 50px 35px;
    border-radius: 8px;
}
.fact-card h2{
   font-size: 2.8rem;
   font-weight: 600;
   color: #424242;
}
.fact-card p{
    font-size:1.25rem;
   font-weight: 600;
   color: #727272;
}

#sponspors{
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
}
#sponspors h3{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}
#sponspors p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-bottom: 50px;
}

.sponspors-logo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    filter: grayscale(100%);
    margin-bottom: 130px;
}

footer{
    max-width: 1440px;
    padding:38px;
    text-align: center;
    margin: 0px auto 50px;
    background-color: #FFF4E7;
    color: #424242;
    font-size: 1.25rem;
}

.hide{
    display: none !important;
}





@media screen and (max-width:576px) {
    
    nav{
    flex-direction: column;
    }

    nav h3{
        padding-bottom: 20px;
    }

    #banner p , img{
    padding: 10px 10px;
    }
    #features-section{
        flex-direction: column-reverse;
         margin:20px auto;
    }
    .feature-img{
    grid-template-columns: repeat(1, 1fr);
    }
    .features-text{
    margin: 20px 20px;
    text-align: center;
    }
    #love-enjoy{
    flex-direction: column;   
    }
    .text-container, .card{
        width: 100%;
        padding: 10px 20px;
    }
    .experience-button{
        padding: 20px 20px;
        margin: 10px 20px;
        width: 80%;
        font-size: 1rem;
    }
    
    .experience-title{
        font-size:2.5rem ;
        font-weight: bold;
        line-height: 50px;
    }
    #factor-section{
        max-width: 1440px;
        margin: 100px auto;
        padding:0px 20px;
        justify-items: center;
        text-align: center;
    }
    .fact-cards{ 
        grid-template-columns: repeat(1,300px);  
        gap:50px;
        margin-bottom: 100px;
        
    }
    #sponspors p{
        padding: 0px 20px;
    }

    .sponspors-logo{
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    margin-bottom: 80px;
    }

}

@media screen and (min-width:576.1px) and (max-width:992){
    

}