@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.btn{
    max-width: 180px;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 32px;
}

header{
    background-color: rgba(255, 144, 14, 0.1);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 70px;
}

nav h3{
    font-size: 2rem;
    font-weight: bold;
    color: #131313;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
nav ul a{
   text-decoration: none;
   color: #424242;
   font-size: 1.1rem;
}

#banner
{
    text-align: center;
    max-width: 1220px;
    margin: 0px auto;
    
}

.banner-title{
    max-width: 860px;
    margin: 0px auto;
}

#banner h2{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
}
#banner p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    padding-top: 10px;
}
#banner img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 45px;
}
#features-section{
    max-width: 1200px;
    margin:85px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-text{
    margin-left: 73px;
    max-width: 537px;
}
.features-text h2{
    font-size: 2.7rem;
    color: #727272;
    font-weight: 500;
}
.features-text p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    padding-top: 24px;
}
.bold-style{
    font-weight: bold;
    color: #131313;
}
.features-color{
    font-weight: bold;
    color:#FF900E;
}